.tactical_section {
    // height: 50vh;
    background-image: url('../../assets/Images/team_work.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}